<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/icon.png" type="image/icon type">
    <title>Weather | by Sagar Paul</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{!-- header section --}}
    <header>
        {{!-- navigation starts here --}}
        {{>header}}
        {{!-- nav ends here --}}

        <div class="weather">
            <form action="">
                <input class="input" placeholder="Location ..." type="text">
                <button class="btn" type="submit"><img src="images/search.png" alt="" srcset=""></button>
            </form>
            <div class="weather-data">
                <p class="heading">Your result will appear here</p>
                <div class="data">
                    {{!-- code block --}}
                    <img class="hero-img" src="images/weather.svg" alt="" srcset="">
                </div>
            </div>
        </div>
    </header>
    {{!-- header ends --}}

    <script src="js/script.js"></script>

</body>

</html>